<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            danger: '#E63946',
                            primary: '#457B9D',
                            'primary-dark': '#1D3557',
                            'secondary': '#F1FAEE',
                            'secondary-dark': '#A8DADC',

                        }
                    }
                }
            }
        </script>

        {% block css %}
            <!-- my css -->
        {% endblock css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <title>Student Portal</title>
    </head>
    <body>
        <div class="page-wrapper h-screen">
            {% block base_navbar %}
                <!-- navbar -->
            {% endblock base_navbar %}
            
            {% block base_content %}
                <!-- content -->
            {% endblock base_content %}
        </div>


        {% block js %}
            <!-- my js -->
        {% endblock js %}
    </body>
</html>
