{% extends 'admin/base.html' %}

{% block admin_header %}
<h1 class="text-4xl">Cohort</h1>
<a class="btn border-black border-2" href="/cohort/new">+ New Cohort</a>
{% endblock admin_header %}


{% block admin_content %}

<table class="text-center">
    <thead>
        <tr>
            <th>
                <a href="/cohorts?column=is_current">Current</a>
                {% if request.args.get('column')=='is_current' and request.args.get('order') == 'asc' %}
                <a href="/cohorts?column=is_current&order=desc">🔼</a>
                {% else %}
                <a href="/cohorts?column=is_current&order=asc">🔽</a>
                {% endif %}
            </th>
            <th>
                <a href="/cohorts?column=stack_id">Stack</a>
                {% if request.args.get('column')=='stack_id' and request.args.get('order') == 'asc' %}
                <a href="/cohorts?column=stack_id&order=desc">🔼</a>
                {% else %}
                <a href="/cohorts?column=stack_id&order=asc">🔽</a>
                {% endif %}
            </th>
            <th>
                <a href="/cohorts?column=start_date">Start Date</a>
                {% if request.args.get('column')=='start_date' and request.args.get('order') == 'asc' %}
                <a href="/cohorts?column=start_date&order=desc">🔼</a>
                {% else %}
                <a href="/cohorts?column=start_date&order=asc">🔽</a>
                {% endif %}
            </th>
            <th>
                <a href="/cohorts?column=end_date">End Date</a>
                {% if request.args.get('column')=='end_date' and request.args.get('order') == 'asc' %}
                <a href="/cohorts?column=end_date&order=desc">🔼</a>
                {% else %}
                <a href="/cohorts?column=end_date&order=asc">🔽</a>
                {% endif %}
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for cohort in all_cohorts %}
        <tr cohort_id="{{ cohort.id }}">
            <td>
                {% if cohort.is_current %}
                <input type="checkbox" name="is_current" class="is_current" status="{{ cohort.is_current }}" checked>
                <label for="is_current">Yes</label>
                {% else %}
                <input type="checkbox" name="is_current" class="is_current" status="{{ cohort.is_current }}">
                <label for="is_current">No</label>
                {% endif %}
            </td>
            <td>{{ cohort.stack.name }}</td>
            <td>{{ cohort.start_date }}</td>
            <td>{{ cohort.end_date }}</td>
            <td>
                <a class="btn bg-my-blue" href="/cohort/{{ cohort.id }}/edit">Edit</a> |
                <a class="btn bg-my-danger text-my-dark" href="/cohort/{{ cohort.id }}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock admin_content %}


{% block js %}
<script src="{{ url_for('static', filename='js/cohort_all.js') }}"></script>
{% endblock js %}