{% extends 'base.html' %}

{% block base_navbar %}
    {% include 'onlooker/navbar.html' %}
{% endblock base_navbar %}

{% block base_content %}
    <div class="flex justify-center items-center h-full">
        <form action="/process/login" method="post" class="flex flex-col gap-2 bg-primary p-5 rounded-lg">
            <input type="text" name="username" id="username" placeholder="Username"/>
            <input type="text" name="pw" id="pw" placeholder="Password">
            <button class="btn bg-green-500">Enter</button>
        </form>
    </div>
{% endblock base_content %}
