{% extends 'admin/base.html' %}

{% set user = student.user %}

{% block admin_header %}
    <h1 class="text-4xl">Student Page</h1>
{% endblock admin_header %}

{% block admin_content %}
    <div>
        <h2 class="text-2xl">{{ user.name }}</h2>
        <div class="flex gap-2">
            <p>{{ user.email }}</p> <span id="edit_email">✏️</span>
        </div>
        <div class="hidden">
            <input type="text" name="email" id="email" value="{{user.email}}">
        </div>
    </div>
{% endblock admin_content %}


{% block js %}
    <script src="{{ url_for('static', filename='js/student_edit.js') }}"></script>r
{% endblock js %}