{% extends 'admin/base.html' %}

{% block admin_content %}
<div class="flex flex-col w-full items-center justify-center">
    <div class="flex flex-col gap-3 border border-black p-5 rounded-lg shadow-lg">
        <h1 class="text-4xl text-center">Settings</h1>
        <form class="w-10/12 flex flex-col gap-3" action="/user/{{user.id}}/update" method="post">
            <input class="w-full" type="text" name="first_name" id="first_name" placeholder="first_name">
            <input class="w-full" type="text" name="last_name" id="last_name" placeholder="last_name">
            <input class="w-full" type="text" name="email" id="email" placeholder="email">
            <input class="w-full" type="text" name="pw" id="pw" placeholder="pw">
        </form>
        <a class="btn bg-my-danger" href="/logout">Logout</a>
    </div>
</div>
{% endblock admin_content %}