{% import 'components/dash_utils.html' as dash %}
{% import 'components/header.html' as head %}


{% extends 'base.html' %}

{% block base_navbar %}
    {% include 'components/navbar.html' %}
{% endblock base_navbar %}

{% block base_content %}
<div class="h-full flex flex-col">
    {{ head.header('Daily Focus', 'Monthly Calendar', '/calendar') }}
    <div class="flex justify-between gap-5">

        <div class="border border-black w-full  rounded-2xl flex flex-col gap-5 overflow-hidden shadow-md">
            <div class="flex justify-between items-center px-5 pt-5">
                <h3>Intro To Python</h3>
                <p>Mon 5/2</p>
            </div>
            <ul class="px-5">
                <li>{{ dash.schedule_item('9:00', 'Introductions') }}<li>
                <li>{{ dash.schedule_item('10:00', 'Python vs JavaScript') }}<li>
                <li>{{ dash.schedule_item('12:00', 'Lunch') }}<li>
                <li>{{ dash.schedule_item('1:00', 'Pair Programming group activity') }}<li>
            </ul>
            <div class="bg-my-blue/20 px-5 py-5">
                {{ dash.schedule_item('EOD', 'Functions Intermediate I') }}
                {{ dash.schedule_item('Reading', 'Python OOP: Methods') }}
            </div>
        </div>

        <div class="max-w-xs w-full flex flex-col gap-5">
            <h3>Staff</h3>
            <ul class="flex flex-col gap-5">
                <li>{{ dash.staff_member('Tyler Thibault', 1) }}</li>
                <li>{{ dash.staff_member('Alfredo', 2) }}</li>
                <li>{{ dash.staff_member('Pablo Padilla', 3) }}</li>
                <li>{{ dash.staff_member('Kyle M', 4) }}</li>
            </ul>
        </div>

    </div>
</div>
{% endblock base_content %}