{% import 'components/header.html' as head %}
{% import 'components/leaderboard_utils.html' as leaderboard %}

{% extends 'base.html' %}

{% block base_navbar %}
{% include 'components/navbar.html' %}
{% endblock base_navbar %}

{% block base_content %}
<div class="flex flex-col">
    {{ head.header('Leaderboard') }}
    <div>

        <ul class="flex flex-col">
            {% for i in range(10) %}
                <li>{{ leaderboard.item('Tummy Topper', i) }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock base_content %}