<div class="menu h-full">
    <ul class="flex flex-col gap-3 mx-3">
        <li><a class="btn btn-menu {{ 'btn-menu-active' if session['page'] == 'dashboard' else ''}}" href="/">Dashboard</a></li>
        <li><a class="btn btn-menu {{ 'btn-menu-active' if session['page'] == 'cohorts' else ''}}" href="/cohorts">Cohort Managment</a></li>
    </ul>
    <ul class="flex flex-col gap-3 mx-3 mt-auto mb-4">
        <li><a class="btn btn-menu {{ 'btn-menu-active' if session['page'] == 'settings' else ''}}" href="/settings">Settings</a></li>
    </ul>
</div>