{% macro tab(title, link, selected, left) %}
<a href="{{link}}"
    class="{{ 'bg-my-blue text-white' if selected else 'bg-white' }} {{ 'rounded-tl-md' if left else 'rounded-tr-md'}} px-12 py-4 w-fit h-fit">
    <p>{{title}}</p>
</a>
{% endmacro %}

{% macro assignment_item(title, is_completed) %}
<div class='flex items-center gap-4'>
    {% if is_completed %}
    <input class="w-4 h-4 appearance-none outline outline-1 checked:bg-my-green" type="checkbox" name="{{title}}" checked>
    {% else %}
    <input class="w-4 h-4 appearance-none outline outline-1 bg-white disabled:bg-white checked:bg-my-green" type="checkbox" name="{{title}}">
    {% endif %}
    <p>{{title}}</p>
</div>
{% endmacro %}

{% macro user_page(student) %}
{% set user = student.user %}
<div class="text-center mb-7">
    <h3>13,023</h3>
    <p>Participation Points</p>
</div>
<div class="flex gap-8">
    <form class="w-80 flex flex-col gap-3">
        <p>Change Nickname</p>
        <input class="api-input" placeholder="Nickname" type="text" name="nickname" id="nickname" value="{{ student.nickname }}"
        url="/api/student/{{student.id}}/update">
        <!-- <button class="bg-my-green w-fit px-3.5 py-1.5 rounded-md self-end">
            <p>Update</p>
        </button> -->
    </form>
    <div class="flex items-end">
        <a href="/student/request_password/{{user.id}}" class="btn bg-my-blue text-white">Request To Create a Password</a>
    </div>
    <!-- <form class="w-80 flex flex-col gap-3">
        <p>Change Nickname</p>
        <input type="text" placeholder="Old Password">
        <input type="text" placeholder="New Password">
        <input type="text" placeholder="Confirm Password">
        <button class="bg-my-green w-fit px-3.5 py-1.5 rounded-md self-end">
            <p>Update</p>
        </button>
    </form> -->
</div>
{% endmacro %}

{% macro assignments() %}
<div class="w-full">
    <ul class="flex flex-col gap-3">
        <li>{{assignment_item('For Loop Basic', true)}}</li>
        <li>{{assignment_item('Functions Intermediate I', false)}}</li>
        <li>{{assignment_item('BankAccount', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
        <li>{{assignment_item('Users with Bank Accounts', false)}}</li>
    </ul>
</div>
{% endmacro %}