
:root {
    --my-danger: #D43232;
    --my-accent: #D48032;
    --my-dark: #443850;
    --my-light: #FFFFFF;
    --my-blue: #526C9D;
    --my-green: #BBBE64;
}

/* fonts */
body {
    font-family: 'Lato', 'sans-serif';
}

.h1,h2,h3 {
    font-family: 'Josefin Sans', 'sans-serif';
}


/* buttons */
.btn {
    padding: 0.15em 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
    text-align: center;
}

.btn-menu {
    /* btn rounded shadow shadow-slate-500 border-black border-2 py-3 */
    padding: 0.75rem 0;
    border: 0.1em solid black;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-color: #64748b;
}

.btn-menu:hover {
    background-color: var(--my-blue);
}

/* forms */
input {
    border: 0.15em solid black;
    border-radius: 0.5em;
    text-align: center;
}

input[type='checkbox'] {
    padding: 0.5em;
    background-color: blue;
}

/* validations */
.alert {
    width: 100%;
    border: 0.15em solid black;
    border-radius: 0.5em;
    text-align: center;
}